@charset "UTF-8";


/* 모든 HTML 요소 초기화 */
* {margin: 0px; padding: 0px; box-sizing: border-box;}
html {
    font-size: 14pt;
    font-family: "맑은 고딕", 'Courier New', Courier, monospace;
    font-weight: normal;
}

div.width { /* 전체 폭 설정 */
    width: 80%;
    margin: 20px auto;
}

img.logo { width: 60px;}

.middle {
    display: table-cell;
    vertical-align: middle;
}

header {
    background-color: lightblue;
    padding-left: 25px;
    padding-right: 25px;
    height: 120px;
}

a{
	color: black;
}

.headersection1 {
    display: table;
    background-color: lightblue;
    text-align: left;
    width: 75%;
    height: 100%;
    float: left;
}

.headersection2 {
    display: table;
    background-color:lightblue;
    text-align: center;
    padding-right: 30px;
    width: 25%;
    height: 100%;
}

#line:hover, #line:focus {

  border-bottom: 10px solid #68daee;
  transition:all .3s ease;
}

.main { /* 가운데 부분 높이 설정 */
    background-color: white;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 900px;
}

a{
	text-decoration : none;
}

h3{
	padding-left: 30px;
}

.info{
	padding-left: 350px;
	font-size: 20px;
	
}

.info2{
	width: 360px;
	background-color: #c5e9f1;
	padding-left: 20px;
}



.dub{
	width: 80px;
	height: 30px;
	background-color: skyblue;
	font-family: "맑은 고딕", 'Courier New', Courier, monospace;
	
}

#id_nickname, #id_password{
	width: 200x;
	height: 30px;
}

.commit{
    width:15%;
    height: 40px;
    border-radius: 5px;
    border: 1px white;
    background-color: skyblue;
    color: white;
    font-size: 14pt;
    font-family: "맑은 고딕", 'Courier New', Courier, monospace;
   
}

.back{
    width:15%;
    height: 40px;
    border-radius: 5px;
    border: 1px white;
    background-color: #d4d4d4;
    color: white;
    font-size: 14pt;
    font-family: "맑은 고딕", 'Courier New', Courier, monospace;
}
.button{
	padding-left: 70px;
}